@import '../index.scss';

.app {
  text-align: center;
  display: flexbox;
}

.title {
  font-size: 4vw;
}



button {
  color: purple;
  font-size: 2vw;
  background: white;
  border: 2px solid white;
  border-radius: 18px;
  margin: 0 auto;
  display: block;
}